<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2016 PLeX WebApp </p>
<script> scr="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"</script>
<script> scr="js/bootstrap.min.js"</script>

