<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<h1><%= title %></h1>
609117246
609138982
<%if (loginFlag == 0) { %>
<form class="form-inline" action="/logincheck" method="post" >
  <div class="form-group">
    <label for="EIN">EIN</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter 9 digit EIN" name="EIN">    </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<%}%>

<%if (loginFailedMessage) { %>
  <p style="font-size: 2.0em; font-style: italic"> <%- loginFailedMessage %></p>
<%}%>


<footer>
    <% include ./partials/footer %>
</footer>
</body>
</html>
