<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<div class="rows rows-centered">
  <div class="rows  col-md-offset-5 col-md- col-md-offset-5">
      <h1><%= title %></h1>
      <%if (loginFlag == 0) { %>
      <form class="form-inline" action="/logincheck" method="post" >
        <div class="form-group">
          <label for="EIN">EIN</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter 9 digit EIN" name="EIN">    </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

  </div>
</div>

<div class="rows rows-centered">
  <div class="rows  col-md-offset-5 col-md- col-md-offset-5">
      <%}%>

      <%if (loginFailedMessage) { %>
    <p style="font-size: 1.5em; font-style: italic; padding-top: 15px"> <%- loginFailedMessage %></p>
      <%}%>
  </div>
</div>

<footer style="padding-top: 15px">
    <% include ./partials/footer %>
</footer>
</body>
</html>
