<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<footer>
    <% include ./partials/footer %>
</footer>
</body>
</html>