body {
  margin:0px;
  padding:0px;
  padding-top:60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}
@media (min-width: 1200px) {
  .container{
    max-width: 970px;
  }
}
.leaflet-container{
  border-radius: 15px;
}
#queryform{
  background-color: white;
  border-radius: 15px;
  margin: 0 40px 10px;
  padding: 5px;
  padding-top: 5px;
  border: 1px solid black;
}
#alert{
  display: none;
  margin:10px;
  padding:5px;
}
.navbar .nav > li > a{
  font-family:    Verdana, Geneva, sans-serif;
  font-size:      14px;
}
.navbar-custom {
  background-color: #F39C12;
  border-color: #E7E7E7;
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

h4.text-center{
  font-weight: bold;
}

/*scroll for table*/
div.containerTableDemand{
  height: 200px;
  overflow-x: auto;
  overflow-y: auto;
}
#estimatecontainer{
  border: 1px solid black;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  margin: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#estimatecontainerheader{
  background-color: #428BCA;
  color: white;
  padding: 5px;
  margin-top: 0px;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#tablecontainer{
  position: relative;
  overflow-x: auto;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 95%;
  padding-top: 15px;
  margin-top: 10x;
  margin-right: 50px;
  margin-left:  25px;
  margin-bottom: 0px;
}

#priority-panels{
  margin:10px;
  padding:5px;
}
#scrollable {
  overflow-x: auto;
  width: 99.5%;
  height: 568px;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}


/*demand panel priority sytle*/
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
  border-radius: 5px;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
  border-radius: 5px;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
  border-radius: 5px;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel-orange {
  border-color: #F39C12;
}
.panel-orange > .panel-heading {
  border-color: #F39C12;
  color: white;
  background-color: #F39C12;
  border-radius: 5px;
}
.panel-orange  > a {
  color: #F39C12;
}
.panel-orange  > a:hover {
  color: #F39C12;
}
.panel-black {
  border-color: #111111;
}
.panel-black > .panel-heading {
  border-color: #111111;
  color: white;
  background-color: #111111;
  border-radius: 5px;
  border-radius: 5px;
}
.panel-black  > a {
  color: #111111;
}
.panel-black  > a:hover {
  color: #111111;
}
.panel-greeny {
  border-color: #3D9970;
}
.panel-greeny > .panel-heading {
  border-color: #3D9970;
  color: white;
  background-color: #3D9970;
  border-radius: 5px;
}
.panel-greeny  > a {
  color: #3D9970;
}
.panel-greeny  > a:hover {
  color: #3D9970;
}
.panel-lightGreen {
  border-color: #00A65A;
}
.panel-lightGreen > .panel-heading {
  border-color: #00A65A;
  color: white;
  background-color: #00A65A;
  border-radius: 5px;
}
.panel-lightGreen  > a {
  color: #00A65A;
}
.panel-lightGreen  > a:hover {
  color: #00A65A;
}

.resultstable {
  width:20%;
  height:60%;
  border: 3px solid black;
}

/*error style*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*toggle button style*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}