body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*scroll for table*/
div.containerTableDemand{
  height: 200px;
  overflow-x: auto;
  overflow-y: auto;

}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}